:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  /* color: inherit; */
}

body {
  /* display: flex; */
  min-width: 320px;
  min-height: 100vh;
}

.servicos-lista{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  list-style: none;
  width: 60%;
  padding: 20px 10px;
  background-color: #f8f8f8;
  border-radius: 8px;
  color: #242424;
  font-weight: 600;
  font-size: 1.2rem;
}

.servicos-lista li{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footerLink{
  color: #ffffff;
  font-weight: bold;
  transition: .2s ease-in-out;
  &&:hover{
    color: #cdcbcf;
  }
}

.btnBanner{
    width: 200px;
    height: 30px;
    padding: 10px;
    margin-top: 20px auto;
    background-color: #181717;
    color: white;
    font-size: 18px;
    border-radius: 50px;
    transition: .2s ease-in-out;
      &:hover{
        color: #fcff46;
      }
}

@media (max-width: 768px){
  .servicos-lista{
    grid-template-columns: 1fr;
  }
}
